{% extends 'base.html'%}
{% load static %}
{% block content %}
<!-- Page Content-->
<!-- promote/views.py에 content_list로 콘텐츠 목록 있는지 검증 -->
{% if content_list %} 
    {% for content in content_list %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>                
                <div class="col-lg-5">
                    <!-- n번째 상품 등록, href = 하드코딩 안하고 템플릿문법으로 작성 -->
                    <h1 class="font-weight-light"><a href="{% url 'detail' content.id %}"></a>{{content.title}}</h1>
                    <!-- n번째 상품입니다. 상품 사이즈는 m 입니다, truncatewords:30 로 문자열 30단어만 출력 -->
                    <p>{{content.content | truncatewords:30 }}</p>
                    <a class="btn btn-primary" href="{% url 'detail' content.id %}">상품 상세보기</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>content가 없습니다.</p>  
{% endif %}
{% endblock %}
